body {
  margin: 0;
  background-color: rgba(192, 233, 154, 0.05);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* nav styles */
.nav-container {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  right: 0px;
  bottom: 0px;
  height: 68px;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}
.nav-green {
  display: flex;
  background-color: #627254;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.nav-link {
  padding: 10px;
  border-radius: 4px;
  border: 1.5px solid white;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.8;
  list-style: none;
}

.nav-link-aliceblue {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  background-color: aliceblue;
  opacity: 0.4;
  list-style: none;
}

.nav-link-action {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.nav-link-action-wh {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-item {
  display: flex;
  gap: 20px;
}

.nav-shadow {
  display: flex;
  background-color: #627254;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nav-link-list {
  padding: 10px;
  border-radius: 4px;
  border: 1.5px solid white;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.8;
  list-style: none;
}

.nav-link-action {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* -------------------- */

img {
  max-width: 100%;
}

.slider-container {
  min-height: 480px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s 0.75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.slide-1 {
  background-image: url("../assets/banner.jpg");
}
.slide-2 {
  background-image: url("../assets/two.jpeg");
}
.slide-3 {
  background-image: url("../assets/three.jpeg");
}

.mosaico3 {
  cursor: pointer;
}

.mosaico-paragraph {
  font-size: 18px;
}

h1 {
  font-size: 36px;
}

a {
  color: #1e1e1e;
}

.recomended {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
}

.card-wrapper {
  width: 230px;
  height: 300px;
  background-color: whitesmoke;
  border: 1px solid black;
}
.text-12 {
  font-size: 12px;
}

.text-weigth {
  font-weight: bolder;
}

.card-text {
  padding: 4px 10px 8px 12px;
  margin: 0px;
}

.banner-text {
  margin-top: 90px;
  display: block;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.mosaico-contenedor {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

.imagen-top-contenedor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.imagen-bottom {
  display: block;
  transition: filter 0.3s ease-in-out;
}

.imagen-bottom-contenedor:hover {
  filter: brightness(70%);
}

.titulo-secundario {
  text-align: center;
}

.subscribe-button {
  display: inline-block;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.input {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.input-area {
  display: flex;
  justify-content: center;
}

.subscribe-button:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #fff;
}
.newsletter-text {
  text-align: center;
}

.subscribe-button {
  display: inline-block;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.input {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.input-area {
  display: flex;
  justify-content: center;
}

.subscribe-button:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #fff;
}
.newsletter-text {
  text-align: center;
}

.subscribe-button {
  display: inline-block;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.input {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.input-area {
  display: flex;
  justify-content: center;
}

.subscribe-button:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #fff;
}
.newsletter-text {
  text-align: center;
}

.title {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  text-align: center;
  background-color: #e6edce;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px auto;
  width: 100%;
  justify-content: center;
}

.contact-form-input {
  width: 46%;
  padding: 4px;
  border-radius: 41px;
  text-align: center;
}

.contact-form-input2 {
  padding: 4px;
  border-radius: 41px;
  text-align: center;
  width: 95%;
}

.contact-form-buttom {
  padding: 6px;
  margin: 0px auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #627254;
  border-radius: 41px;
}

.title {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.text-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 4px;
}

.text-item {
  font-size: 16px;
}

.text-container-title {
  font-size: 16px;
}

.container {
  margin: 20px;
  padding: 60px 100px;
  display: flex;
  gap: 50px;
  border-radius: 10px;
}

.about-img {
  width: 562px;
  height: 324px;
}

.subTitle {
  margin-bottom: 0px;
}

.paragrah {
  font-size: 16px;
  text-align: center;
}

.title {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

.slider-container {
  min-height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s 0.75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.slide-1 {
  background-image: url("../assets/one.jpeg");
}
.slide-2 {
  background-image: url("../assets/two.jpeg");
}
.slide-3 {
  background-image: url("../assets/three.jpeg");
}
.space-center-15 {
  padding: 0px 15%;
}

.subtitle {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.card-know {
  width: 300px;
  height: 400px;
  background-color: beige;
  border-radius: 4px;
  padding: 20px;
  background-color: transparent;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 80px 0px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  padding: 60px 0px;
}

.card-images {
  width: 140px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.card-content {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.card-img {
  width: 50%;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.card-article {
  width: 50%;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.card-inner {
  display: flex;
  width: 433px;
  height: 280px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 22px;
  margin-bottom: 15px;
}

.info-container-cards {
  margin: 60px 0px;
  background-color: #e6edce;
}

.button {
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: none;
  padding: 10px 20px;
  margin: 0px auto;
  outline: none;
  border-radius: 4px;
  background-color: #e6edce;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.subscribe-button {
  display: inline-block;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.input {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.input-area {
  display: flex;
  justify-content: center;
}

.subscribe-button:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #fff;
}
.newsletter-text {
  text-align: center;
}

.subscribe-button {
  display: inline-block;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.input {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.input-area {
  display: flex;
  justify-content: center;
}

.subscribe-button:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #fff;
}
.newsletter-text {
  text-align: center;
}

.title {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.space-center {
  padding: 0px 20%;
}

.space-center-cards {
  padding: 60px 20%;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text-item {
  font-size: 16px;
}

.text-container-title {
  font-size: 24px;
}

.container {
  margin: 20px;
  padding: 60px 100px;
  display: flex;
  gap: 50px;
}

.about-img {
  width: 562px;
  height: 324px;
}

.container-banner {
  margin: 50px auto;
}

.container-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-card {
  display: flex;
  gap: 40px;
  padding: 20px;
  border: 1px solid black;
  margin: 10px auto;
}

.container-hrz {
  padding: 40px;
  margin: 20px auto;
  display: flex;
  background-color: #e6edce;
}

.card-img-big {
  display: flex;
  margin: 0 auto;
  width: 240px;
  height: 300px;
}

.container-htz-wrapper {
  width: 50%;
  padding: 20px 80px;
}

.info-img {
  width: 278px;
  height: 326px;
}

.card-img-60 {
  width: 60px;
}

.cards-container {
  margin: 20px auto;
  gap: 100px;
  display: flex;
  width: 800px;
}

.card-wd {
  width: 170px;
}

.banner {
  width: 780px;
  display: flex;
  margin: 0px auto;
  border-radius: 37px;
}

.banner-promo {
  border-radius: 37px;
  display: flex;
  width: 780px;
}

.footer-page {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  text-align: center;
}

.subscribe-button {
  display: inline-block;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.input {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.input-area {
  display: flex;
  justify-content: center;
}

.subscribe-button:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #fff;
}
.newsletter-text {
  text-align: center;
}

.title {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text-item {
  font-size: 16px;
}

.text-container-title {
  font-size: 24px;
}

.container {
  margin: 20px;
  padding: 60px 100px;
  display: flex;
  gap: 50px;
}

.about-img {
  width: 562px;
  height: 324px;
}
